.supportus-heading {
  text-align: center;
}

.supportus-subheading {
  padding-top: 2%;
  padding-left: 10%;
}

.supportus-content {
  padding-left: 10%;
}

.supportus {
  padding-left: 0%;
  padding-right: 0%;
}

.supportus-button-container {
  padding-top: 4%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.supportus-volunteer-button {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  margin-right: 4%;
  cursor: pointer;
}
.supportus-donate-button {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  cursor: pointer;
}
