.donatenow {
  height: 100%;
  width: 100%;
  background-image: url("../../components/Dogs-Trust-NGO-Photography-Sri-Lanka-Asia-01-1024x683.jpg");
}

.donatenow-heading {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 3%;
}

.donate-form-container {
  width: 50%;
  position: relative;
  left: 5%;
  border: 1%;
  border-radius: 30px;
  background-color: white;
}

.donate-form {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
